<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Нормализация.css">
    <link rel="stylesheet" href="css.css">
    <title>Finding tables</title>
</head>
<body>
<div class="Container">
    <head>
        <div class="Logo"> <span class="LogoText">  Finding tables </span> </div>
        <div class="menu">
            <div class="Navig">
                <div class="News"> <a href="" class="Navig1">Новости </a> </div>
                <div class="Find"> <a href="" class="Navig2">Заявки </a></div>
                <div class="club"> <a href="" class="Navig3">Клубы </a></div>
            </div>
            <div class="Аccount">
                <div class="BXOD">   <a href="" class="Navig4"> Вход</a> </div>
                <div class="Registr"> <a href="" class="Navig5">Регистрация</a> </div>
            </div>
        </div>
    </head>
    <div class="Frame1">
        <div class="Frame1Name"> <span class="Frame1NameText">  Что такое Finding tables? </span></div>
        <div class="Frame1Massage1"><span class="Frame1Massage1Text1">Finding tables это сайт для тех кому интересны настольные игры</span> </div>
        <div class="Frame1Massage2Right"><div class="Frame1Massage2"><span class="Frame1Massage1Text2">Finding tables <br> для тех кто хочет играть в настольные игры </span></div> </div>
        <div class="Frame1Massage3"><span class="Frame1Massage1Text3">Finding tables это сайт <br> для тех кто любит живые настольные игры</span></div>
    </div>
    <div class="Frame2">
        <div class="Frame2Line">
            <div class="Frame2Line2"></div>
        </div>
        <div class="Frame2FavaritGame">
            <div class="Game1"> <div class="LogoGame11"></div> <a href="" class="LogoGame12"></a></div>
            <div class="Game2"> <div class="LogoGame11"></div> <a href="" class="LogoGame12"></a></div>
            <div class="Game3"> <div class="LogoGame11"></div> <a href="" class="LogoGame12"></a></div>
        </div>
    </div>
    <div class="Frame3">

        <div class="Frame2Line">
            <div class="Frame2Line2"></div>
        </div>

        <div class="Frame3Game1">
            <div class="Frame3Game1Left"><div class="Game1">
                <div class="LogoGame11"></div> <a href="" class="LogoGame12"></a></div></div>
            <div class="Frame3Game1Right">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Expedita nesciunt iusto voluptatum quam sint
                laborum quasi tenetur fuga quos dolor et corporis quibusdam
                totam esse mollitia, quas asperiores vel architecto!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Expedita nesciunt iusto voluptatum quam sint
                laborum quasi tenetur fuga quos dolor et corporis quibusdam
                totam esse mollitia, quas asperiores vel architecto!
            </div>
        </div>
        <div class="Frame3Game2">
            <div class="Frame3Game2Left"><div class="Game1">
                <div class="LogoGame11"></div> <a href="" class="LogoGame12"></a></div></div>
            <div class="Frame3Game2Right">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Expedita nesciunt iusto voluptatum quam sint
                laborum quasi tenetur fuga quos dolor et corporis quibusdam
                totam esse mollitia, quas asperiores vel architecto!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Expedita nesciunt iusto voluptatum quam sint
                laborum quasi tenetur fuga quos dolor et corporis quibusdam
                totam esse mollitia, quas asperiores vel architecto!

            </div>
        </div>
        <div class="Frame3Game3">
            <div class="Frame3Game3Left"><div class="Game1">
                <div class="LogoGame11"></div> <a href="" class="LogoGame12"></a></div></div>
            <div class="Frame3Game3Right">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Expedita nesciunt iusto voluptatum quam sint
                laborum quasi tenetur fuga quos dolor et corporis quibusdam
                totam esse mollitia, quas asperiores vel architecto!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Expedita nesciunt iusto voluptatum quam sint
                laborum quasi tenetur fuga quos dolor et corporis quibusdam
                totam esse mollitia, quas asperiores vel architecto!
            </div>
        </div>
    </div>
</div>
</body>
</html>
